* {
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 90%);
}

html,
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 2em;
}